@import "../../../styles/variables.scss";

.mat-toolbar{
  background-color: rgba(0,0,0,0.5);
  height: 40px;
  position: fixed;
  bottom: 0px;
  font-size: $font-size-small;

  .spacer {
    flex: 1 1 auto;
  }

  .icon{
    padding: 0 14px;
  }

  a{
    color: white;
    text-decoration: none;
    padding: 0 20px;
  }

}
