  <mat-card>
    <mat-card-content>
      <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <section class="ingredient-section">
          <div *ngFor="let i of ingredientKeys">
            <h2>{{i}}</h2>
            <div *ngFor="let j of ingredient[i]" [ngModelGroup]="i">
              <mat-checkbox class="example-margin" [name]="j" [(ngModel)]=basketModel[i][j]>{{j}}</mat-checkbox>
            </div>
          </div>
        </section>
        <button type="submit" mat-raised-button color="primary">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>
