.inside_card {
  position: absolute;
  left: 2px;
  top: 2px;

  width: 95%;
  height: 95%;
}

#handle {
	background-color: #FFF;
    width: 2vw;
    height: 30vh;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgb(89, 99, 98);
}