@import "../../../styles/variables.scss";

#home{
  padding: 10px 30px;

  .header{
    height: 40vh;
    text-align: center;

    .search-bar {
      margin-top: 15vh;
      .mat-icon{
        font-size: $font-size-regular;
      }
      .mat-form-field{
        width: 500px;
        color: black;
      }
    }
  }

  .ingredient-section{

  }
}

.mat-checkbox-label{
  color:black;
}
