<div class="container form">
  <h1>Register to cook more</h1>

  <mat-card>
    <form (submit)="onRegisterSubmit()">
      <mat-form-field>
        <input matInput type="text" [(ngModel)]="name" name="name" placeholder="Name" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" [(ngModel)]="username" name="username" placeholder="Username" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" [(ngModel)]="email" name="email" placeholder="Email" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" [(ngModel)]="password" name="password" placeholder="Password" required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" value="Login">Register</button>
    </form>
  </mat-card>
</div>
