@import "../../../styles/variables.scss";

.mat-toolbar {
  position: sticky;
  top: 0;
  height: 40px;
  z-index: 100;

  .spacer {
    flex: 1 1 auto;
  }

  a {
    color: rgba(0,0,0,0.5);
    text-decoration: none;
    padding: 0 20px;
  }

  #logoText,
  .active {
    color: black;
  }
}
