@import "../../../styles/variables.scss";

.mat-toolbar{
  position: sticky;
  top: 0px;
  height: 40px;
  .spacer {
    flex: 1 1 auto;
  }
  .icon{
    padding: 0 14px;
  }

  a{
    color: black;
    text-decoration: none;
    padding: 0 20px;
  }

}
